.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000; /* Light background color */
  padding: 20px;
  overflow: hidden; /* Ensure any overflow from the image is hidden */
}

.coming-soon-logo {
  width: 100%; /* Make the image responsive */
  height: 100%; /* Ensure the image takes full height of the container */
  object-fit: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
  animation: fadeIn 2s ease-in-out;
}

.coming-soon-text {
  font-size: 3rem;
  color: #333;
  font-family: 'Arial', sans-serif;
  animation: bounceIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .coming-soon-container {
    padding: 10px;
  }

  .coming-soon-logo {
    width: 100%; /* Ensure it takes full width on smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .coming-soon-text {
    font-size: 2rem; /* Adjust font size for mobile */
  }
}
